body {
  background-color: #1f1f1f; }

.hr-50 {
  background-color: #ffffff;
  display: inline-block;
  width: 70px;
  margin-right: 1rem;
  margin-left: 1rem; }

.hr-25 {
  width: 30px;
  height: 5px;
  background-color: #f29224; }

#particles-js {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1; }

.white-text {
  color: #ffffff; }

.header-social-links {
  display: inline-flex;
  justify-content: space-around;
  transform: rotate(90deg);
  transition: 0.5s; }
  .header-social-links span {
    font-size: 0.8rem;
    margin-top: 0.3rem; }

@media (max-width: 767px) {
  .header-social-links {
    margin: auto;
    transform: rotate(0); } }
