body {
  background-color: #1f1f1f; }

.hr-50 {
  background-color: #ffffff;
  display: inline-block;
  width: 50%; }

canvas {
  position: absolute;
  z-index: -1; }

.white-text {
  color: #ffffff; }
