@font-face {
  font-family: "Klavika-L-italic";
  src: url("../fonts/KlavikaLight-Italic.otf");
  font-weight: italic; }

@font-face {
  font-family: "Klavika-M-italic";
  src: url("../fonts/KlavikaMedium-Italic.otf");
  font-weight: italic; }

@font-face {
  font-family: "Klavika-CH-bold";
  src: url("../fonts/KlavikaCH-Bold.otf");
  font-weight: bold; }

@font-face {
  font-family: "Klavika-CH-regular";
  src: url("../fonts/KlavikaCH-Regular.otf");
  font-weight: normal; }

.f-light {
  font-family: "Klavika-L-italic", Arial, Helvetica, sans-serif; }

.f-medium {
  font-family: "Klavika-M-italic", Arial, Helvetica, sans-serif; }

.f-bold {
  font-family: "Klavika-CH-bold", Arial, Helvetica, sans-serif; }

.f-regular {
  font-family: "Klavika-CH-regular", Arial, Helvetica, sans-serif; }

.bg-1 {
  background-color: #1f1f1f;
  color: #ffffff; }

.bg-2 {
  background-color: #a1a1a1;
  color: #000000; }

.bg-3 {
  background-color: #f29224;
  color: #ffffff; }

.bg-4 {
  background-color: #ffffff;
  color: #000000; }

.bg-5 {
  background-color: #ffb100;
  color: #ffffff; }

body {
  background-color: #1f1f1f;
  color: #ffffff; }

.hr-50 {
  background-color: #ffffff;
  display: inline-block;
  width: 70px;
  margin-right: 1rem;
  margin-left: 1rem; }

.hr-25 {
  width: 30px;
  height: 5px;
  background-color: #f29224; }

#particles-js {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1; }

.white-text {
  color: #ffffff; }

.header-social-links {
  display: inline-flex;
  justify-content: space-around;
  transform: rotate(90deg);
  transition: 0.5s; }
  .header-social-links span {
    font-size: 0.8rem;
    margin-top: 0.3rem; }

@media (max-width: 767px) {
  .header-social-links {
    margin: auto;
    transform: rotate(0); } }

.navbar-brand img {
  width: 60px;
  height: 50px; }

.navbar-megusta {
  font-family: "Klavika-M-italic";
  font-size: 1.16rem; }
  .navbar-megusta .navbar-collapse .navbar-nav li a {
    color: #ffffff;
    padding: 0.5rem;
    text-decoration: none; }
  .navbar-megusta .navbar-collapse .searchform {
    position: absolute;
    right: 1rem; }
    .navbar-megusta .navbar-collapse .searchform input[type="text"] {
      padding: 0.5rem;
      margin-left: 0.5rem; }
    .navbar-megusta .navbar-collapse .searchform #searchsubmit {
      display: none; }
  @media (max-width: 991px) {
    .navbar-megusta .navbar-collapse .searchform {
      position: relative;
      padding-left: 1.5rem; } }

.form-megusta input[type="text"], .form-megusta textarea {
  border-radius: 3rem;
  border: 0.3rem solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-size: 1.3rem; }
  .form-megusta input[type="text"]:focus, .form-megusta input[type="text"]::placeholder, .form-megusta textarea:focus, .form-megusta textarea::placeholder {
    background-color: transparent;
    color: #ffffff; }

.form-megusta button {
  border-radius: 3rem;
  cursor: pointer;
  padding: 1rem 5rem;
  margin: 1rem auto; }
  .form-megusta button:hover {
    background-color: #b3b3b3; }

#return-message {
  background-color: #f29224;
  display: none;
  color: #000000; }

footer {
  background-color: #000000; }
  footer:after {
    content: " ";
    display: block;
    background-color: #ffb100;
    height: 0.5rem; }

.posts .posts-link {
  outline: none;
  color: #ffffff;
  font-size: 1.3rem; }

.posts .post-categories {
  list-style-type: none;
  padding-left: 0;
  margin-top: 1rem; }
  .posts .post-categories li {
    display: inline-block; }
    .posts .post-categories li::after {
      content: ","; }
    .posts .post-categories li:last-child:after {
      content: "."; }
    .posts .post-categories li a {
      outline: none;
      color: #f29224;
      font-family: "Klavika-L-italic",Arial, Helvetica, sans-serif; }

.size-full {
  height: auto;
  max-width: 770px;
  width: 100%; }

.aligncenter {
  text-align: center; }

.sidebar {
  position: relative;
  transition: 0.5s; }

.btn-sidebar {
  display: none;
  position: fixed;
  right: 0;
  bottom: 50%;
  opacity: 0.7;
  border: 1px solid #ffffff;
  z-index: 100;
  padding: 0.5rem;
  background-color: transparent;
  color: #ffffff;
  transition: 0.2s; }

.btn-rotate {
  transform: rotate(180deg); }

@media (max-width: 767px) {
  .btn-sidebar {
    display: block; }
  .sidebar {
    position: absolute;
    z-index: 50;
    right: -100%; } }

.sidebar-openned {
  right: 0; }
